@model List<TasteFoodIt.Entities.Chef>
@{
    ViewBag.Title = "ChefList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Şef Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Şefler</li>
            <li class="breadcrumb-item active" aria-current="page">Şef İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Simple Tables</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Şef ID</th>
                                <th>Şef Adı</th>
                                <th>Şef Ünvanı</th>
                                <th>Açıklama</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="#">@item.ChefId</a></td>
                                    <td>@item.NameSurname</td>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td><a href="#" class="btn btn-sm btn-danger">Sil</a></td>
                                    <td><a href="#" class="btn btn-sm btn-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-sm btn-primary ml-2 mt-2">Yeni Şef Girişi</a>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>


