<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img img-2 w-100 mr-md-2" style="background-image: url(/Templates/tasteit-master/images/bg_6.jpg);"></div>
                <div class="img img-2 w-100 ml-md-2" style="background-image: url(/Templates/tasteit-master/images/bg_4.jpg);"></div>
            </div>
            <div class="col-md-6 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">İşte bizim sırlarımız</span>
                    <h2 class="mb-4">Mükemmel İçerikler</h2>
                    <p>
                        Çok uzaklarda, Vokalia ve Consonantia ülkelerinden, kördür metinlerin yaşadığı yerlerden çok uzaklarda, Bookmarksgrove adında bir yerde, Semantikler'in kıyısında, büyük bir dil okyanusunun kenarında yaşarlar.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
