@model TasteFoodIt.Entities.Reservation

<form action="#" method="post" class="appointment-form">
    <h3 class="mb-3">Rezervasyon</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="name" name="Name" class="form-control" placeholder="İsim">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="email" name="Email" class="form-control" placeholder="E-mail">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" name="Phone" class="form-control" placeholder="Telefon">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-wrap">
                    @*<div class="icon"><span class="fa fa-calendar"></span></div>*@
                    <input type="date" name="ReservationDate" class="form-control" placeholder="Rezervasyon Tarihi">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-wrap">
                    <div class="icon"><span class="fa fa-clock-o"></span></div>
                    <select name="ReservationTime" id="" class="form-control">
                        <option value="12:00" style="color: black;">12:00</option>
                        <option value="12:30" style="color: black;">12:30</option>
                        <option value="13:00" style="color: black;">13:00</option>
                        <option value="13:30" style="color: black;">13:30</option>
                        <option value="14:00" style="color: black;">14:00</option>
                        <option value="14:30" style="color: black;">14:30</option>
                        <option value="15:00" style="color: black;">15:00</option>
                        <option value="15:30" style="color: black;">15:30</option>
                        <option value="16:00" style="color: black;">16:00</option>
                        <option value="16:30" style="color: black;">16:30</option>
                        <option value="17:00" style="color: black;">17:00</option>
                        <option value="17:30" style="color: black;">17:30</option>
                        <option value="18:00" style="color: black;">18:00</option>
                        <option value="18:30" style="color: black;">18:30</option>
                        <option value="19:00" style="color: black;">19:00</option>
                        <option value="19:30" style="color: black;">19:30</option>
                        <option value="20:00" style="color: black;">20:00</option>
                        <option value="20:30" style="color: black;">20:30</option>
                        <option value="21:00" style="color: black;">21:00</option>
                        <option value="21:30" style="color: black;">21:30</option>
                        <option value="22:00" style="color: black;">22:00</option>
                        <option value="22:30" style="color: black;">22:30</option>
                        <option value="23:00" style="color: black;">23:00</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="form-field">
                    <div class="select-wrap">
                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                        <select name="GuestCount" id="" class="form-control">
                            <option value="0" style="color: black;">0</option>
                            <option value="1" style="color: black;">1</option>
                            <option value="2" style="color: black;">2</option>
                            <option value="3" style="color: black;">3</option>
                            <option value="4" style="color: black;">4</option>
                            <option value="5" style="color: black;">5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Rezervasyonu Yap" class="btn btn-white py-3 px-4">
            </div>
        </div>
    </div>
</form>

