@model List<TasteFoodIt.Entities.Slider>
@{
    ViewBag.Title = "SliderList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Slider Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Slider</li>
            <li class="breadcrumb-item active" aria-current="page">Slider İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Simple Tables</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Slider ID</th>
                                <th>Slider Başlığı</th>
                                <th>Slider Görseli</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="#">@item.SliderID</a></td>
                                    <td>@item.SliderContent</td>
                                    <td><img src="@item.SliderURL" alt="@item.SliderURL" style="max-width: 100px; max-height: 100px;"></td>
                                    <td><a href="/Slider/DeleteSlider/@item.SliderID" class="btn btn-danger btn-lg">Sil</a></td>
                                    <td><a href="/Slider/UpdateSlider/@item.SliderID" class="btn btn-success btn-lg">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Slider/AddSlider" class="btn btn-sm btn-primary ml-2 mt-2">Yeni Slider Girişi</a>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>





